<app-main-content title="Corretores">
  <div main>
    <div class="grid grid-nogutter">
      <div class="col-12 md:col-4">
        <app-autocomplete-corretores></app-autocomplete-corretores>
      </div>
    </div>
    <div class="grid grid-nogutter justify-content-end">
      <div class="col-12 mt-2 md:col-2 md:mt-0">
        <p-button class="w-full" styleClass="w-full" label="Consultar" />
      </div>
      <div class="col-12 ml-0 mt-2 md:ml-2 md:col-2 md:mt-0">
        <p-button
          label="Limpar"
          class="w-full"
          [outlined]="true"
          severity="warning"
          styleClass="w-full"
        />
      </div>
    </div>
  </div>
</app-main-content>
